<?xml version="1.0"?>
<model>
  <name>Red Box</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>

  <author>
    <name>TurtleBot3 Follow Package</name>
    <email>example@example.com</email>
  </author>

  <description>
    A red box for robot following demonstrations
  </description>
</model>